<ion-header>
	<ion-navbar>
		<ion-title>Overview</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list>

		<ion-item *ngIf="activeProfile">
			<h1>Ενεργό Προφίλ</h1>
			<p>Όνομα:
				<span>{{activeProfile.name}}</span>
			</p>
			<p>Ζέσταμα:
				<span>{{stringifyInfinite(activeProfile.heat)}}</span>
				<span *ngIf="activeProfile.heat >= 0">Λεπτά</span>
			</p>
			<p>Συντήρηση:
				<span>{{activeProfile.preserve}}</span>
				<span>Λεπτά</span>
			</p>
			<p>Ξεκούραση:
				<span>{{activeProfile.rest}}</span>
				<span>Λεπτά</span>
			</p>
		</ion-item>

		<ion-item>
			<h1>Σύνδεση με Σόμπα</h1>
			<p>Κατάσταση:
				<span *ngIf="arduino.heaterConnected" class="success">Συνδεδεμένο</span>
				<span *ngIf="!arduino.heaterConnected" class="fail">Μη Συνδεδεμένο</span>
			</p>
			<button ion-button item-end icon-end *ngIf="!arduino.heaterConnected" (click)="connectToHeater()">ΣΥΝΔΕΣΗ</button>
			<button ion-button item-end icon-end *ngIf="arduino.heaterConnected" (click)="disconnectFromHeater()">ΑΠΟΣΥΝΔΕΣΗ</button>
		</ion-item>

		<ion-item>
			<h1>Λειτουργία Σόμπας</h1>
			<p>Κατάσταση:
				<span *ngIf="arduino.heaterConnected && arduino.heaterEnabled" class="success">Ενεργή</span>
				<span *ngIf="arduino.heaterConnected && !arduino.heaterEnabled" class="fail">Μη Ενεργή</span>
				<span *ngIf="!arduino.heaterConnected">Μη Διαθέσιμη</span>
			</p>
			<button ion-button item-end icon-end *ngIf="arduino.heaterConnected && arduino.heaterEnabled" (click)="onDisableHeaterButtonClicked()">ΑΠΕΝΕΡΓΟΠΟΙΗΣΗ</button>
			<button ion-button item-end icon-end *ngIf="arduino.heaterConnected && !arduino.heaterEnabled" (click)="onEnableHeaterButtonClicked()">ΕΝΕΡΓΟΠΟΙΗΣΗ</button>
		</ion-item>

	</ion-list>

</ion-content>
