<ion-header>
	<ion-navbar>
		<ion-title>Overview</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<ion-list>

		<ion-item *ngIf="activeProfile">
			<h1>Active Profile</h1>
			<p>Name:
				<span>{{activeProfile.name}}</span>
			</p>
			<p>Heat:
				<span>{{stringifyInfinite(activeProfile.heat)}}</span>
				<span *ngIf="activeProfile.heat >= 0">Minutes</span>
			</p>
			<p>Preseve:
				<span>{{activeProfile.preserve}}</span>
				<span>Minutes</span>
			</p>
			<p>Rest:
				<span>{{activeProfile.rest}}</span>
				<span>Minutes</span>
			</p>
		</ion-item>

		<ion-item>
			<h1>Heater Connection</h1>
			<p>Status:
				<span *ngIf="arduino.heaterConnected" class="success">Connected</span>
				<span *ngIf="!arduino.heaterConnected" class="fail">Disconnected</span>
			</p>
			<button ion-button item-end icon-end *ngIf="!arduino.heaterConnected" (click)="connectToHeater()">Connect</button>
			<button ion-button item-end icon-end *ngIf="arduino.heaterConnected" (click)="disconnectFromHeater()">Disconnect</button>
		</ion-item>

		<ion-item>
			<h1>Heater Function</h1>
			<p>Status:
				<span *ngIf="arduino.heaterConnected && arduino.heaterEnabled" class="success">Enabled</span>
				<span *ngIf="arduino.heaterConnected && !arduino.heaterEnabled" class="fail">Disabled</span>
				<span *ngIf="!arduino.heaterConnected">N/A (heater is not connected)</span>
			</p>
			<button ion-button item-end icon-end *ngIf="arduino.heaterConnected && arduino.heaterEnabled" (click)="onDisableHeaterButtonClicked()">Disable</button>
			<button ion-button item-end icon-end *ngIf="arduino.heaterConnected && !arduino.heaterEnabled" (click)="onEnableHeaterButtonClicked()">Enable</button>
		</ion-item>

	</ion-list>

</ion-content>
