<ion-header>
	<ion-navbar>
		<ion-title>Overview</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<div>
		<div text-center>
			<h1 id="stateHeading">Heater is
				<span *ngIf="enabled; else heaterDisabledBlock">on</span>
				<ng-template #heaterDisabledBlock><span>off</span></ng-template>
			</h1>
		</div>
		<h5 *ngIf="!enabled">You have to restart the heater manually!</h5>
	</div>

	<div id="activeProfileDataContainer" *ngIf="enabled">
		<h3>Active Profile</h3>
		<span>Name: </span><span>name1</span><br>
		<span>Heating: </span><span>2h</span><br>
		<span>Preservation: </span><span>2m</span><br>
		<span>Rest: </span><span>2m</span>
	</div>

	<button id="turnOffButton" *ngIf="enabled" ion-button color="danger" full icon-only large round (click)="onTurnOffButtonClicked()">
		<ion-icon name="power"></ion-icon>
	</button>

</ion-content>
