<ion-header>
	<ion-navbar>
		<ion-title>Profiles</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let p of profiles">
			<h2>{{p.name}}</h2>
			<p>Ζέσταμα:
				<span>{{stringifyInfinite(p.heat)}}</span>
				<span *ngIf="p.heat >= 0">Λεπτά</span>
			</p>
			<p>Συντήρηση:
				<span>{{p.preserve}}</span>
				<span>Λεπτά</span>
			</p>
			<p>Ξεκούραση:
				<span>{{p.rest}}</span>
				<span>Λεπτά</span>
			</p>
			<ion-icon *ngIf="p.active" name="checkmark-circle" color="success" item-end></ion-icon>
			<button ion-button item-end icon-only clear (click)="showProfileOptions(p)">
				<ion-icon name="more" color="black"></ion-icon>
			</button>
		</ion-item>
	</ion-list>

	<ion-fab right bottom>
		<button ion-fab (click)="showCreateProfilePage()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>

</ion-content>
